@import "tailwindcss";
@import "uniwind";

@layer theme {
  :root {
    @variant light {
      --color-background: oklch(94.91% 0 0);
      --color-paper: oklch(100% 0 0);
      --color-controls-background: oklch(100% 0 0 / 0.5);
      --color-controls-border: oklch(86.87% 0.004 56.37 / 0.5);
      --color-primary: oklch(14.69% 0.004 49.25);
      --color-secondary: oklch(44.41% 0.011 78.21);
      --color-icon: oklch(55.4% 0.014 59.4);
    }

    @variant dark {
      --color-background: oklch(37.38% 0.01 73.59);
      --color-paper: oklch(92.32% 0.003 48.72);
      --color-controls-background: oklch(44.41% 0.011 78.21 / 0.5);
      --color-controls-border: oklch(44.41% 0.011 78.21 / 0.5);
      --color-primary: oklch(97.02% 0 0);
      --color-secondary: oklch(86.87% 0.004 56.37);
      --color-icon: oklch(78.9% 0.007 53.42);
    }
  }
}
